/*---------------------------------------------------------*\
List:
    1. Global
    2. Homepage
    3. Keyframes
    4. Footer
    5. Elpida-bio
    6. Carousel rules

\*---------------------------------------------------------*/


/*---------------------------------------------------------*\
GLOBAL RULES
\*---------------------------------------------------------*/

/*
 ** Default class to hide components.
*/
.hidden
{
    display: none;
}

.cursor
{
    cursor: pointer;
}

.white-btn , .white-btn a
{
    border-color: white !important;
    color: white !important;
    text-decoration: none !important;
}

.white-btn:hover
{
    color: black !important;
    /* border-color: black !important; */
    background-color: white !important;
}

.white-btn:hover a
{
    color: black !important;
}


.p-container
{
    position: absolute;
    width: 60%;
}

.p-container p
{
    text-align: left;
}


.dropdown-hover:hover .dropdown-menu
{
    display: block;
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}
/*---------------------------------------------------------*\
END OF GLOBAL RULES
\*---------------------------------------------------------*/




/*---------------------------------------------------------*\
HOMEPAGE RULES
\*---------------------------------------------------------*/

/* 
 ** Background image on homepage stop overflow
 ** on slow-scale @keyframes 
*/
.content-wrapper
{
    overflow: hidden;
    position: relative;
    width: 100%;
}

/*
 ** Indicates the homepage background,
 ** and center it in the center of the screen.
*/



.homepage-paragraph , .homepage-heading
{
    color: white;
}

.homepage-background
{
    background-image: url('../img/homepage-background.jpg');
    height: calc(100vh - 83.8833px); /* 83.8833 is the height of the navbar */
    background-size: cover;
    background-position: center;
    animation: slow-scale 50s infinite alternate;
    position: relative;
}

/*
 ** Add grey filter in the homepage background.
*/
.homepage-background .filter
{
    width: 100%;
    height: calc(100vh - 83.8833px); /* 83.8833 is the height of the navbar */
    background-color: black;
    z-index: 10;
    opacity: .5;
}

/*
 ** Positioning the header and paragraphs of homepage.
*/
.text-wrapper
{
    position: absolute;
    top: 30%;
    left: 25%;
    transform: translate(-25%, -40%);
    width: 100%;
}


/*
 ** Overwrite Animation.css library
 **
 ** Handle the animation on heading title
*/
#heading-animation
{
    animation-delay: .2s;
    animation-duration: 4s;
    animation-iteration-count: 1;
}

#homepageParAnimation
{
    animation-delay: 4s;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

/*---------------------------------------------------------*\
END OF HOMEPAGE RULES
\*---------------------------------------------------------*/



/*---------------------------------------------------------*\
KEYFRAMES RULES
\*---------------------------------------------------------*/


/*
 ** Make a slow scaling animation to be used in homepage background
*/
@keyframes slow-scale {
    0% {transform: scale(1);}
    50% {transform: scale(1.1);}
    100% {transform: scale(1);}
}

/*---------------------------------------------------------*\
END OF KEYFRAMES RULES
\*---------------------------------------------------------*/


/*---------------------------------------------------------*\
FOOTER RULES
\*---------------------------------------------------------*/
.foot-soc-section
{
    background-color: #8f8f8f
}

.social-hover-fa , .social-hover-web , .social-hover-yt
{
    border: none !important;
}

.social-hover-fa:hover
{
    background-color: #2f4679 !important;
}

.social-hover-web:hover
{
    background-color: #320f33 !important;
}

.social-hover-yt:hover
{
    background-color: #d12a2a !important;
}

.footer-logo
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: .5rem;
}
/*---------------------------------------------------------*\
END OF FOOTER RULES
\*---------------------------------------------------------*/



/*---------------------------------------------------------*\
Elpidas bio RULES
\*---------------------------------------------------------*/
.header-image
{
    background-image: url('../img/photos_elpida/4.jpg');
    width: 100%;
    height: 40vh;
    background-position: center;
}

.header-image-vas
{
  background-image: url('../img/photos_vasilis/1.jpg');
  width: 100%;
  height: 40vh;
  background-position: 50% 40%;
}

.header-image .filter
{
    width: 100%;
    height: 40vh; /* 83.8833 is the height of the navbar */
    background-color: black;
    z-index: 10;
    position: absolute;
    opacity: .3;
}

.header-cnt
{
    margin-bottom: 3rem;
}

.header
{
    position: absolute;
    top: 30%;
    left: 23%;
    z-index: 10;
    transform: translate(50%, -50%);
    animation-duration: 3s;
    animation-delay: 1s;
}

@media only screen and (max-width: 1318px) {
  .header {
    left: 10%;
  }
}

@media only screen and (max-width: 870px) {
  .header {
    left: 5%;
  }
}

@media only screen and (max-width: 668px) {
  .header {
    left: -5%;
  }

  .header h1 {
    font-size: 35px !important;
  }
}

@media only screen and (max-width: 512px)
{
  .header {
    left: -10%;
  }
}

.header h1
{
    color: white;
    font-size: 45px;
    text-decoration: bold;
    border-bottom: 2px solid white;
}

/*---------------------------------------------------------*\
END OF Elpidas bio RULES
\*---------------------------------------------------------*/


/*---------------------------------------------------------*\
Carousel RULES
\*---------------------------------------------------------*/

.gallery-item
{
    margin-bottom: 1rem;
    transition: transform .3s; /* Animation */

}

.gallery-item:hover
{
    transform: scale(1.05);
}

.gallery-item img:hover
{
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.gallery-item img
{
    /* width: 300px; */
    width: 100%;
    animation-name: shadow;
    animation-duration: 1s;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 12;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: black !important;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow  {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
















.row > .column {
    padding: 0 8px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .column {
    float: left;
    width: 25%;
  }



/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 12;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
  }
  
  /* The Close Button */
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  .mySlides {
    display: none;
  }
  
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: black;
    font-size: 20px;
    font-weight: bold;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  img {
    margin-bottom: -4px;
  }
  
  .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  }
  
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
  img.hover-shadow  {
    transition: 0.3s;
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }


