.gallery-b-cnt {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.gallery-itm {
  position: relative;
  margin-bottom: 1rem;
}

.gallery-itm:hover {
  cursor: pointer;
}

.gl-image {
  opacity: 1;
  display: block;
  width: 100% !important;
  height: 100% !important;
  /* height: 240px; */
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  background-color: #124935;
  border-radius: 12px;
  /* width: 320px; */
  width: 80%;

}

@media only screen and (max-width: 1200px) {
  .text {
    font-size: 12px;
  }

  .mini-text {
    font-size: 9px;
  }
}

@media only screen and (max-width: 992px) {
  .text {
    font-size: 9px;
    padding-top: .5rem !important;
    padding-right: .5rem !important;
    padding-left: .5rem !important;
    padding-bottom: 0rem !important;
  }
  
  .mini-text {
    font-size: 6px;
    padding-top: .5rem !important;
    padding-right: .5rem !important;
    padding-left: .5rem !important;
    padding-bottom: 1rem !important;
  }
}

.gallery-itm:hover .gl-image {
  opacity: 0.3;
}

.gallery-itm:hover .middle {
  opacity: 1;
}

.text {
  color: white; 
  font-size: 16px;
  padding-top: 1rem;
  padding-bottom: .5rem;
  padding-right: 2rem;
  padding-left: 2rem;
}

.mini-text {
  font-size: 14px;
  color: white;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
  text-align: left;
}

/* Modal */
.modal-cnt
{
  display: none;
  position:fixed;
  z-index: 1 ;
  padding-top: 40px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content-cnt {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}